*.*~
*~
*.txt
deep_manipulation/*~
deep_manipulation/running_data
deep_manipulation/running_data/*
deep_manipulation/*.t7
deep_manipulation/*.so
deep_manipulation/*.png
deep_manipulation/*.txt
deep_manipulation/*.pyc
deep_manipulation/common/*.pyc
deep_manipulation/*/*.t7
deep_manipulation/*/*.png
deep_manipulation/*/*/*.t7
deep_manipulation/*/*/*.png
